{% extends 'zero/base.html' %}
{% block content %}

<ul class="line-articles">
    {% for p in posts %}
    <li><div class="article-panel">
        <p class="first">Category:{{p.cat}}</p>
        <p class="last">Date:{{p.time_create|date:'d-m-Y H:i:s'}}</p>
    </div>
        {% if p.photo %}
        <p><img class="img-article-left trumb" src="{{p.photo.url}}"></p>
        {% endif %}

        <h2>{{p.title}}</h2>
        {% autoescape on %}
        <p>{{p.content|linebreaks|truncatewords:10}}</p>
        {% endautoescape %}
        <div class='clear'></div>
        <p class="link-read-post"><a href="{{ p.get_absolute_url }}">Read post</a></p>
    </li>
    {% endfor %}
</ul>
{% endblock %}